@import 'antd/dist/antd.css';

/* #components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */
.ant-layout{
  min-height: 663px;
}
/* #root{
  margin:0;
} */

.logoutt{
  margin-right: 0px !important;
  padding-left: auto !important;
  display:block !important;
  float:right !important;
  margin: 0;
  /* position: 'absolute'; */
}

a {
  text-decoration:none !important;
}

.nav-textt{
  font-size: 17px;
}